// Responsive
$max-xs: 575.98px;
$max-sm: 767.98px;
$max-md: 991.98px;
$max-lg: 1199.98px;


// Colors
$black: #010101;
$white: #fff;
$dark: #212121;
$blue: #216f9f;
$dark-grey: rgba(0, 0, 0, .8);
$grey: rgba(0, 0, 0, .5);


// Fonts
$open-sans: 'Open Sans', sans-serif;
