// Responsive
$max-xs: 575.98px;
$max-sm: 767.98px;
$max-md: 991.98px;
$max-lg: 1199.98px;
$min-xl: 1200px;
$min-xxl: 1500px;
$min-xxxl: 1750px;


// Colors
$black:          #010101;
$white:          #fff;
$dark:           #212121;
$blue:           #216f9f;
$light-blue:     #ebf2f9;
$dark-grey:      rgba(0, 0, 0, .8);
$grey:           rgba(0, 0, 0, .5);



// Fonts
$open-sans: 'Open Sans', sans-serif;

// Borders
$border: rgba(0, 0, 0, .1);

// Box-shadow
$box-shadow: 0px 8px 34.2px 10.8px rgba(0, 0, 0, 0.1);