// Header
.header {
	background-image: -moz-linear-gradient(90deg, rgb(32, 117, 169) 0%, rgb(32, 135, 193) 100%);
	background-image: -webkit-linear-gradient(90deg, rgb(32, 117, 169) 0%, rgb(32, 135, 193) 100%);
	background-image: -ms-linear-gradient(90deg, rgb(32, 117, 169) 0%, rgb(32, 135, 193) 100%);

	.navbar {
		justify-content: flex-end;

		@media (max-width: $max-xs) {
			justify-content: center;
		}
	}

	.navbar-light {
		.navbar-brand {
			color: $white;
			margin-right: auto;

			@media (max-width: $max-xs) {
				margin: auto;
			}
		}
	}

	.form-inline {
		flex-wrap: nowrap;
		padding-left: 10px;

		.form-control {
			background: transparent;
			border-top-right-radius: 0;
			border-bottom-right-radius: 0;

			&::placeholder {
				font-style: italic;
				font-weight: 300;
				color: $white;
			}
		}

		.btn {
			border-top-left-radius: 0;
			border-bottom-left-radius: 0;
	
			.header .btn .fa-search {
				color: $dark;
			}
		}
	}

	.social-block {
		text-align: right;
		margin-left: 10px;

		.fab {
			font-size: 20px;
			color: $white;
			padding: 0 10px;
			transition: .3s;

			&:hover {
				color: $black;
			}
		}
	}
	
}