body {
    width: 100%;
    height: 100%;
    color: #000;
    font-size: 1rem;
    background-color: $white;
    font-family: $open-sans;
}

.h2,
h2 {
    font-size: 1.875rem; // 30px
    font-weight: 700;

    @media (max-width: $max-sm) {
        font-size: 1.5rem; // 24px 
    }
}

.h3,
h3 {
    font-size: 1.5rem; // 24px 
    font-weight: 700;

    @media (max-width: $max-sm) {
        font-size: 1.25rem; // 20px 
    }
}

.h4,
h4 {
    font-size: 1.25rem; // 20px 
    font-weight: 700;

    @media (max-width: $max-sm) {
        font-size: 1.125rem; // 18px 
    }
}

.h5,
h5 {
    font-size: 1.125rem; // 18px 
    font-weight: 700;

    @media (max-width: $max-sm) {
        font-size: 1rem; // 16px 
    }
}

a {
    color: $black;
    line-height: 1.3;
    border-bottom: 1px solid transparent;

    &:hover {
        color: $blue;
        text-decoration: none;
        border-bottom: 1px solid $blue;
    }

    &:active {
        color: $blue;
        text-decoration: none;
        border-bottom: 1px solid $blue;
    }
}

.more {
    color: $black-80;
    border-bottom: 1px solid $black-80;

    &:hover {
        color: $blue;
        border-bottom: 1px solid $blue;
    }
}

.container {
    width: 100%;
    max-width: 1730px;
    margin: 0 auto;
    box-sizing: border-box;
}

.visible {
    overflow: visible !important;
}

// input

.col-form-label {
    font-size: 1.125rem; // 18px 
    font-weight: 700;
}

.form-control-lg {
    background: $bg-input;
}

// checkbox
.checkbox {
    display: flex;

    .form-group {
        margin-bottom: 15px;

        input {
            padding: 0;
            height: initial;
            width: initial;
            margin-bottom: 0;
            display: none;
            cursor: pointer;

            &:checked+label:before {
                border: 1px solid $blue;
            }

            &:checked+label:after {
                content: '';
                display: block;
                position: absolute;
                top: 3px;
                left: 9px;
                width: 6px;
                height: 14px;
                border: solid $blue;
                border-width: 0 2px 2px 0;
                transform: rotate(45deg);
            }
        }

        label {
            position: relative;
            font-size: 0.875rem; //14px
            cursor: pointer;
            margin: 0 40px 0 0 !important;

            &:before {
                content: '';
                display: inline-block;
                position: relative;
                -webkit-appearance: none;
                background-color: transparent;
                border: 1px solid $border-input;
                border-radius: $border-radius-input;
                vertical-align: middle;
                cursor: pointer;
                padding: 10px;
                margin-right: 8px;
            }
        }
    }
}

// card-box
.card-box {
    box-shadow: $box-shadow;
    padding: 40px 60px;
}

// breadcrumb
.breadcrumb {
    font-size: 0.75rem; // 12px 
    background-color: transparent;
    padding: .75rem 0;
    margin-bottom: 2.5rem;
}

// pagination
.box-pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 75px 0 100px;

    .pagination {
        margin: 0;

        .page-link {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 44px;
            height: 44px;
            border: transparent;
            color: $dark;
            margin: 2px;
            background: $light-blue;
            transition: .3s;

            &:hover {
                background: $blue;
                color: $white;
            }

            .previous,
            .next {
                font-size: 1.875rem; // 30px
                line-height: 1;
                padding-bottom: 5px;
            }
        }

    }
}

// sizing
.mt_60 {
    margin-top: 60px !important;
}

.mb_100 {
    margin-bottom: 100px !important;
}

// colors
.text-dark-70 {
    color: $black-70;
}

.link-blue {
    font-weight: 700;
    border-bottom: 1px solid $blue;
    color: $blue !important;

    &:hover {
        color: $black !important;
        border-bottom: 1px solid $black;
    }
}

// buttons
.btn-lg {
    padding: 1.125rem 3.35rem;

    @media (max-width: $max-xs) {
        padding: 1.05rem 3rem;
    }
}

.btn-primary {
    background: $blue;
    border: $blue;
}

.box-button {
    a {
        &:hover {
            border-bottom: none;
        }
    }
}

// title-mark
.title-mark {
    text-align: center;

    .h2 {
        position: relative;
        display: inline-flex;
        margin-bottom: 50px;

        &:before {
            position: absolute;
            top: 50%;
            left: -55px;
            content: "";
            width: 40px;
            height: 4px;
            background: $blue;
        }

        &:after {
            position: absolute;
            top: 50%;
            right: -55px;
            content: "";
            width: 40px;
            height: 4px;
            background: $blue;
        }
    }
}

// comment
.comment {
    font-size: 0.75rem; // 12px
    color: $black-50;
    padding: 5px 0 15px 0;
}

// condition
.condition {
    font-size: 0.875rem; // 14px;
    font-weight: 300;
    color: $black-80;
    margin-bottom: 50px;
}

// table-responsive
.table-responsive {
    width: 100%;
    box-shadow: $box-shadow;
    overflow-x: auto;
    padding: 40px 60px;
    margin: 40px 0;

    @media (max-width: $max-xs) {
        padding: 20px;
    }

    .table {
        width: 100%;
        min-width: $max-sm;

        th {
            border-top: transparent;
            vertical-align: top;
            padding: 0 150px 35px 20px;

            @media (max-width: $max-lg) {
                padding: 0 20px 35px 20px;
            }

            @media (max-width: $max-xs) {
                padding: 20px;
            }
        }

        td {
            padding: 35px 150px 35px 20px;

            @media (max-width: $max-lg) {
                padding: 35px 20px 35px 20px;
            }

            @media (max-width: $max-xs) {
                padding: 20px;
            }
        }

    }
}

// only
.only {
    font-weight: 700;
}

// table-archive
.table-archive {
    padding: 20px 60px;

    @media (max-width: $max-xs) {
        padding: 20px;
    }

    .table {
        margin-bottom: 0;
    }

    tbody {
        tr {
            td:first-child {
                width: 400px;

                @media (max-width: $max-xs) {
                    width: 300px;
                }
            }
        }
    }
}

// table-archive-extended
.table-archive-extended {
    .table {

        th {
            padding: 0 20px 35px 20px;
        }

        td {
            padding: 35px 20px 35px 20px;

            .link-blue {
                white-space: nowrap;
            }
        }
    }
}

// table-without-thead
.table-without-thead {
    padding: 20px 60px;

    @media (max-width: $max-xs) {
        padding: 20px;
    }

    .table {
        margin-bottom: 0;

        tbody {

            tr {
                &:first-child {
                    td {
                        border-top: none;
                    }
                }
            }
        }
    }
}

// category 
.category {
    margin: 100px auto;

    .card {
        min-width: 360px;

        @media (max-width: $max-xs) {
            min-width: 260px;
        }

        .h3 {
            text-align: center;
        }

        .more {
            display: none;
            font-size: 1.5rem;
            color: $blue;
            border-bottom: transparent;
        }

        &:hover .overlay,
        &:hover .more {
            display: inline-flex;
            align-items: center;
            border-bottom: 1px solid $blue;
        }

        &:hover .h3 {
            display: none;
        }

        &:hover .card-body {
            margin: 5px 0;
        }
    }

    .card-img {
        position: relative;
        outline: 1px solid $white;
        outline-offset: -15px;
        overflow: hidden;

        img {
            width: 100%;
            max-height: 317px;
            object-fit: cover;
        }

        .text {
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100px;
            height: 100%;
            z-index: 100
        }

        .overlay {
            display: none;
            position: absolute;
            top: 0;
            left: 0;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            font-size: 1.875rem; // 30px
            font-weight: 700;
            color: $white;
            text-align: center;
            background: rgba($blue, .5);
            padding: 0 15px;
            transition: .3s;
        }

        @media (max-width: $max-xs) {
            max-height: 250px;
        }
    }

    .card-body {
        height: 76px;
        align-items: center;
    }
}

// calendars
.calendars {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    @media (max-width: $max-xs) {
        justify-content: center;
    }

    img {
        display: block;
        margin: 65px 0;
        box-shadow: $box-shadow;

        @media (max-width: $max-sm) {
            margin: 20px 0;
        }
    }

    a {
        border-bottom: none;
    }
}

// Colors-calendar 
.colors-calendar {
    .colors-list {
        display: flex;
        flex-wrap: wrap;

        @media (max-width: $max-sm) {
            margin: 20px 0;
        }

        .colors-item {
            display: flex;
            margin-bottom: 20px;

            .color {
                width: 70px;
                min-width: 70px;
                height: 25px;
            }

            .calendar-sirenium {
                background: $calendar-sirenium;
            }

            .calendar-yellow {
                background: $calendar-yellow;
            }

            .calendar-green {
                background: $calendar-green;
            }

            .calendar-blue {
                background: $calendar-blue;
            }

            .calendar-red {
                background: $calendar-red;
            }

            .name {
                padding: 0 50px 0 15px;
            }
        }
    }
}

// tabs
#tabs {
    .nav {
        justify-content: space-between;
        flex-wrap: nowrap;
        overflow-x: auto;

        @media (max-width: $max-sm) {
            flex-wrap: wrap;
        }

        @media (max-width: $max-xs) {
            justify-content: center;
        }

        .nav-link {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            min-width: 270px;
            height: 56px;
            border-bottom: 2px solid $black-50;
            margin: 0 4px;

            &:hover {
                border-bottom: 2px solid $blue;
            }
        }

        .active {
            color: $white;
            border-bottom: 2px solid $blue;
            background-image: -moz-linear-gradient(90deg, rgb(32, 117, 169) 0%, rgb(32, 135, 193) 100%);
            background-image: -webkit-linear-gradient(90deg, rgb(32, 117, 169) 0%, rgb(32, 135, 193) 100%);
            background-image: -ms-linear-gradient(90deg, rgb(32, 117, 169) 0%, rgb(32, 135, 193) 100%);
        }

        .isDisabled {
            color: currentColor;
            cursor: not-allowed;
            opacity: 0.5;
            text-decoration: none;

            &:hover {
                border-bottom: 2px solid $black-50;
            }
        }
    }

    .card-box {
        text-align: center;
        margin-top: 40px;
    }
}

// carousel-multi-item
.carousel-multi-item {
    .controls {

        .carousel-control-prev,
        .carousel-control-next {
            border-bottom: none;

            @media (min-width: $min-xxl) {
                width: 3%;
            }

            .fa-chevron-left,
            .fa-chevron-right {
                width: 44px;
                height: 44px;
                display: flex;
                justify-content: center;
                align-items: center;
                color: $black;
                background: $light-blue;
            }
        }
    }

    .carousel-inner {
        @media (min-width: $min-xxl) {
            width: 90%;
            margin: 0 auto;
        }

        .carousel-item {

            .card-link {
                position: relative;
                display: block;

                .after {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    width: 100%;
                    height: auto;
                    transform: translate(-50%, -50%);
                    font-size: 1.5rem; // 24px 
                    font-weight: 700;
                    color: $white;
                    text-align: center;
                    padding: 0 15px;

                    @media (min-width: $min-sm) and (max-width: $max-lg) {
                        font-size: 1rem; // 16px
                    }

                    @media (max-width: $max-xxs) {
                        font-size: 1rem; // 16px
                    }
                }

                .overlay {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background: rgba($blue, .5);
                    transition: .3s;

                    &:hover {
                        outline: 1px solid $white;
                        outline-offset: -15px;
                        overflow: hidden;
                        background: rgba($blue, .75);
                    }
                }
            }
        }
    }
}
