body {
	width: 100%;
	height: 100%;
	color: #000;
	font-size: 1rem;
	background-color: $white;
	font-family: "Open Sans", sans-serif;
}

.h2,
h2 {
	font-size: 1.875rem; // 30px
	font-weight: 700;

	@media (max-width: $max-sm) {
		font-size: 1.5rem; // 24px 
	}
}

.h3,
h3 {
	font-size: 1.5rem; // 24px 
	font-weight: 700;

	@media (max-width: $max-sm) {
		font-size: 1.25rem; // 20px 
	}
}

.h4,
h4 {
	font-size: 1.25rem; // 20px 
	font-weight: 700;

	@media (max-width: $max-sm) {
		font-size: 1.125rem; // 18px 
	}
}

.h5,
h5 {
	font-size: 1.125rem; // 18px 
	font-weight: 700;

	@media (max-width: $max-sm) {
		font-size: 1rem; // 16px 
	}
}

a {
	color: $black;

	&:hover {
		color: $blue;
	}
}

.container {
	width: 100%;
	max-width: 1730px;
	margin: 0 auto;
	box-sizing: border-box;
}

// input

.col-form-label {
	font-size: 1.125rem; // 18px 
	font-weight: 600;
}

// checkbox
.checkbox {
    display: flex;

    .form-group {
        margin-bottom: 15px;

        input {
            padding: 0;
            height: initial;
            width: initial;
            margin-bottom: 0;
            display: none;
            cursor: pointer;

            &:checked+label:before {
                border: 1px solid $blue;
            }

            &:checked+label:after {
                content: '';
                display: block;
                position: absolute;
                top: 3px;
                left: 9px;
                width: 6px;
                height: 14px;
                border: solid $blue;
                border-width: 0 2px 2px 0;
                transform: rotate(45deg);
            }            
        }

        label {
            position: relative;
            font-size: 0.875rem; //14px
            cursor: pointer;
            margin: 0 40px 0 0!important;

            &:before {
                content: '';
                display: inline-block;
                position: relative;                
                -webkit-appearance: none;
                background-color: transparent;
                border: 1px solid $border-input;
                border-radius: $border-radius-input;            
                vertical-align: middle;
                cursor: pointer;
                padding: 10px;
                margin-right: 8px;
            }
        }
    }
}

// card-box

.card-box {
	box-shadow: $box-shadow;
    padding: 40px 60px;
}

// breadcrumb

.breadcrumb {
	font-size: 0.75rem; // 12px 
	background-color: transparent;
	padding: .75rem 0;
	margin-bottom: 2.5rem;
}

// pagination
.box-pagination {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 75px 0 100px;

	.pagination {
		margin: 0;

		.page-link {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 44px;
			height: 44px;
			border: transparent;
			color: $dark;
			margin: 2px;
			background: $light-blue;
			transition: .3s;

			&:hover {
				background: $blue;
				color: $white;
			}

			.previous,
			.next {
				font-size: 1.875rem; // 30px
				line-height: 1;
				padding-bottom: 5px;
			}
		}

	}
}

// sizing

.mb_100 {
	margin-bottom: 100px!important;
}

//link-blue
.link-blue {
    font-weight: 700;
    text-decoration: underline;
    color: $blue !important;

    &:hover {
        color: $black !important;
    }
}

// buttons

.btn-lg {
    padding: 1.125rem 3.35rem;

    @media (max-width: $max-xs) {
        padding: 1.05rem 3rem;
    }
}

.btn-primary {
    background: $blue;
}

.btn .btn-light {
	background: $light-blue;
}

// title-mark

.title-mark {
	text-align: center;

	.h2 {
		position: relative;
		display: inline-flex;
		margin-bottom: 50px;

		&:before {
			position: absolute;
			top: 50%;
			left: -55px;
			content: "";
			width: 40px;
			height: 4px;
			background: $blue;
		}

		&:after {
			position: absolute;
			top: 50%;
			right: -55px;
			content: "";
			width: 40px;
			height: 4px;
			background: $blue;
		}
	}
}

// comment
.comment {
    font-size: 0.75rem; // 12px
    color: $grey;
    padding: 5px 0 15px 0;
}

// condition
.condition {
    font-size: 0.875rem; // 14px;
    font-weight: 300;
    color: $dark-grey;
    margin-bottom: 50px;
}

// table-responsive
.table-responsive {
    width: 100%;
    box-shadow: $box-shadow;
    overflow-x: auto;
    padding: 40px 60px;
    margin: 40px 0;

    @media (max-width: $max-xs) {
        padding: 20px;
    }

    .table {
        width: 100%;
        min-width: $max-sm;

        th {
            border-top: transparent;
            vertical-align: top;
            padding: 0 150px 35px 20px;

            @media (max-width: $max-lg) {
                padding: 0 20px 35px 20px;
            }

            @media (max-width: $max-xs) {
                padding: 20px;
            }
        }

        td {
            padding: 35px 150px 35px 20px;

            @media (max-width: $max-lg) {
                padding: 35px 20px 35px 20px;
            }

            @media (max-width: $max-xs) {
                padding: 20px;
            }
        }

    }
}

// only
.only {
    font-weight: 700;
}