@import "_normalize";
@import "_variables";
@import "_mixins";
@import "_fonts";
@import "layout";


// Header
@import "header";

// Pages
@import "pages/main";
@import "pages/zakonoproekty";
// @import "pages/contact";

// Footer
@import "footer";

// Modals
@import "modals";


