@import "_variables";
@import "_mixins";
@import "_fonts";
@import "layout";


// Header
@import "header";

// Pages
@import "pages/main";
@import "pages/zakonoproekty";
@import "pages/zakonoproekty-shcho-znakhodyat πsya-na-opratsyuvanni-v-komitetakh";
@import "pages/pryynyati-na-potochniy-sesiyi";
@import "pages/search-result";
@import "pages/rules-of-registration";






// Footer
@import "footer";

// Modals
@import "modals";


