<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="css/style.css">

    <title></title>

</head>

<body>

    <div class="header">
        <div class="container">
            <nav class="navbar navbar-expand-xl navbar-light">
                <a href="index.html" class="navbar-brand">Законотворчість</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="zakonoproekty.html" id="navbarDropdown"
                                role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Законопроекти
                                <span class="sr-only">(current)</span>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="poshuk-za-rekvizytamy.html">Пошук за реквізитами</a>
                                <a class="dropdown-item" href="pravyla-oformlennya-proektiv-zakoniv.html">Правила оформлення проектів...</a>
                                <a class="dropdown-item" href="zakonoproekty-za-potochnyy-tyzhden.html">Зареєстровані за поточний тиждень</a>
                                <a class="dropdown-item" href="nadano-narodnym-deputatam.html">Надано народним депутатам</a>
                                <a class="dropdown-item" href="zakonoproekty-shcho-znakhodyatʹsya-na-opratsyuvanni-v-komitetakh.html">Знаходяться на розгляді в комітетах</a>
                                <a class="dropdown-item" href="pryynyati-na-potochniy-sesiyi.html">Прийнято на поточні сесії</a>
                            </div>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Пленарні засідання
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Another action</a>
                                <a class="dropdown-item" href="#">Something else here</a>
                            </div>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Парламентські слухання
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="provedennya-parlamentskykh-slukhan.html">Проведення парламентських слухань</a>
                                <a class="dropdown-item" href="materialy-parlamentskykh-slukhan.html">Хроніка парламентських слухань</a>
                            </div>
                        </li>
                    </ul>
                    <form class="form-inline">
                        <input class="form-control" type="search" placeholder="Пошук по сайту" aria-label="Search">
                        <button class="btn btn-light my-2 my-lg-0" type="submit"><i class="fas fa-search"></i></button>
                    </form>
                    <div class="social-block">
                        <i class="fab fa-youtube"></i>
                        <i class="fab fa-twitter"></i>
                        <i class="fab fa-facebook-square"></i>
                    </div>
                </div>
            </nav>
        </div>
    </div>