<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="css/style.css">

    <title></title>

</head>

<body>

    <div class="header">
        <div class="container">
            <nav class="navbar navbar-expand-xl navbar-light">
                <a href="index.html" class="navbar-brand">Законотворчість</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="zakonoproekty.html" id="navbarDropdown"
                                role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Законопроекти
                                <span class="sr-only">(current)</span>
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="poshuk-za-rekvizytamy.html">Пошук за реквізитами</a>
                                </li>
                                <li><a class="dropdown-item" href="pravyla-oformlennya-proektiv-zakoniv.html">Правила
                                        оформлення проектів...</a></li>
                                <li> <a class="dropdown-item"
                                        href="zakonoproekty-za-potochnyy-tyzhden.html">Зареєстровані за
                                        поточний тиждень</a></li>
                                <li><a class="dropdown-item" href="nadano-narodnym-deputatam.html">Надано народним
                                        депутатам</a></li>
                                <li><a class="dropdown-item"
                                        href="zakonoproekty-na-opratsyuvanni-v-komitetakh.html">Знаходяться на розгляді
                                        в
                                        комітетах</a></li>
                                <li><a class="dropdown-item" href="pryynyati-na-potochniy-sesiyi.html">Прийнято на
                                        поточні
                                        сесії</a></li>
                            </ul>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="plenarni-zasidannya.html" id="navbarDropdown"
                                role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Пленарні засідання
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle"
                                        id="dropdown-visible" data-toggle="dropdown" href="#">Планування та порядок
                                        розгляду
                                        питань</a>
                                    <ul class="dropdown-menu row">
                                        <li class="col">
                                            <ul>
                                                <li><a href="poryadky-denni-plenarnykh-zasidan-planing.html">Календарний
                                                        план проведення сесії</a></li>
                                                <li><a
                                                        href="poryadky-denni-sesiy-Verkhovnoyi-Rady-Ukrayiny-vosmoho-sklykannya.html">Порядок
                                                        денний сесії</a></li>
                                                <li><a
                                                        href="desyata-sesiya-Verkhovnoyi-Rady-Ukrayiny-vosmoho-sklykannya-rozklady.html">Розклад
                                                        пленарних засідань</a></li>
                                                <li><a href="poryadky-denni-plenarnykh-zasidan.html">Порядки денні
                                                        пленарних засідань</a></li>
                                                <li><a
                                                        href="desyata-sesiya-Verkhovnoyi-Rady-Ukrayiny-vosmoho-sklykannya-grafiky.html">Тижневі
                                                        графіки засідань комітетів</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle"
                                        id="dropdown-visible" data-toggle="dropdown" href="#">Погоджувальні ради
                                        розгляд</a>
                                    <ul class="dropdown-menu row">
                                        <li class="col">
                                            <ul>
                                                <li><a href="#">Електронний протокол</a></li>
                                                <li><a href="#">Стенограми погоджувальних рад</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle"
                                        id="dropdown-visible" data-toggle="dropdown" href="#">Питань порядку денного</a>
                                    <ul class="dropdown-menu row">
                                        <li class="col">
                                            <ul>
                                                <li><a href="poryadky-denni-plenarnykh-zasidan-planing.html">Календарний
                                                        план проведення сесії</a></li>
                                                <li><a
                                                        href="poryadky-denni-sesiy-Verkhovnoyi-Rady-Ukrayiny-vosmoho-sklykannya.html">Порядок
                                                        денний сесії</a></li>
                                                <li><a
                                                        href="desyata-sesiya-Verkhovnoyi-Rady-Ukrayiny-vosmoho-sklykannya-rozklady.html">Розклад
                                                        пленарних засідань</a></li>
                                                <li><a href="poryadky-denni-plenarnykh-zasidan.html">Порядки денні
                                                        пленарних засідань</a></li>
                                                <li><a
                                                        href="desyata-sesiya-Verkhovnoyi-Rady-Ukrayiny-vosmoho-sklykannya-grafiky.html">Тижневі
                                                        графіки засідань комітетів</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Парламентські слухання
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item"
                                        href="rishennya-pro-provedennya-parlamentskykh-slukhan.html">Проведення
                                        парламентських слухань</a></li>
                                <li><a class="dropdown-item" href="materialy-parlamentskykh-slukhan.html">Хроніка
                                        парламентських слухань</a></li>
                            </ul>
                        </li>
                    </ul>
                    <form class="form-inline">
                        <input class="form-control" type="search" placeholder="Пошук по сайту" aria-label="Search">
                        <button class="btn btn-light my-2 my-lg-0" type="submit"><i class="fas fa-search"></i></button>
                    </form>
                    <div class="social-block">
                        <i class="fab fa-youtube"></i>
                        <i class="fab fa-twitter"></i>
                        <i class="fab fa-facebook-square"></i>
                    </div>
                </div>
            </nav>
        </div>
    </div>