.tenth-session {
    .h2 {
        max-width: 1015px;
    }

    .box-condition {
        display: flex;
        justify-content: space-between;

        .link {           
            text-transform: uppercase;
            font-weight: 600;
            color: $blue!important;

            .icon-info {
                position: relative;
                top: -10px;
                padding: 2px;

            }
        }

        // .red-tooltip {
        //     &~.tooltip {
        //       &>.tooltip-inner {
        //         background-color: #f00;
        //         padding: 10px;
        //         font-size: 14px;
        //       }
        //     }
        //   }
    }
}