.tenth-session {
    .h2 {
        max-width: 1015px;
    }

    .box-condition {
        display: flex;
        justify-content: space-between;

        .link {           
            text-transform: uppercase;
            font-weight: 600;
            color: $blue!important;

            .icon-info {
                position: relative;
                top: -10px;
                padding: 2px;

            }
        }

        .tooltip .top .tooltip-inner { 
            max-width:310px;             
            padding:3px 8px;             
            color:#000;             
            text-align:center;             
            background-color:red;             
            -webkit-border-radius:5px;             
            -moz-border-radius:5px;             
            border-radius:5px             
            }
    }
}