.card-zakonoproektu {

    .h2 {
        max-width: 1100px;
    }

    .info {
        max-width: 1100px;
        font-size: 1.125rem; // 18px 
        color: $black-80;
        margin: 40px 0;

        .row {
            padding: 25px 0;
        }
    }

    #tabs {
        .nav {
            justify-content: space-between;
            flex-wrap: nowrap;
            overflow-x: auto;

            @media (max-width: $max-sm) {
                flex-wrap: wrap;
            }

            @media (max-width: $max-xs) {
                justify-content: center;
            }

            .nav-link {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                min-width: 270px;
                height: 56px;
                border-bottom: 2px solid $black-50;
                margin: 0 4px;

                &:hover {
                    border-bottom: 2px solid $blue;
                }
            }

            .active {
                color: $white;
                border-bottom: 2px solid $blue;
                background-image: -moz-linear-gradient(90deg, rgb(32, 117, 169) 0%, rgb(32, 135, 193) 100%);
                background-image: -webkit-linear-gradient(90deg, rgb(32, 117, 169) 0%, rgb(32, 135, 193) 100%);
                background-image: -ms-linear-gradient(90deg, rgb(32, 117, 169) 0%, rgb(32, 135, 193) 100%);
            }

            .isDisabled {
                color: currentColor;
                cursor: not-allowed;
                opacity: 0.5;
                text-decoration: none;

                &:hover {
                    border-bottom: 2px solid $black-50;
                }
            }
        }

        .card-box {
            text-align: center;
            margin-top: 40px;
        }
    }
}