/* sitebar */

.sitebar {
	padding-top: 170px;

	@media (max-width: $max-lg) {
		padding-top: 30px;
	}

	.h3 {
		position: relative;
		text-transform: uppercase;

		&:before {
			position: absolute;
			top: 11px;
			left: -55px;
			content: '';
			width: 40px;
			height: 4px;
			background: $blue;
		}
	}

	.subtitle {
		font-weight: 700;
	}
}

/* card */

.card {
	border: transparent;
	border-radius: 0;
	box-shadow: $box-shadow;

	.card-img {
		width: 100%;
		max-height: 530px;
		border-radius: 0;
	}

	.card-body {
		display: flex;
		justify-content: space-around;
		margin-top: 10px;

		.date {
			display: flex;
			flex-direction: column;
			align-items: center;

			.day,
			.year {
				font-size: 2.1875rem;	// 35px;
				font-weight: 700;
				line-height: 1;
				color: $blue;
			}

			.month {
				font-size: 1.125rem;	// 18px 
				font-weight: 700;
				line-height: 1;
				color: $grey;
			}
		}

		.card-text {
			color: $dark-grey;
		}
	}
}

/* category */

.category {
	margin: 100px auto;

	.card {
		min-width: 360px;

		@media (max-width: $max-xs) {
			min-width: 260px;
		}

		.h3 {
			text-align: center;
		}

		.more {
			display: none;
			font-size: 1.5rem;	// 24px 
			color: $blue;

		}

		&:hover .overlay,
		&:hover .more {
			display: flex;
			align-items: center;
		}

		&:hover .h3 {
			display: none;
		}

		&:hover .card-body {
			margin: 5px 0;
		}
	}

	.card-img {
		position: relative;
		outline: 1px solid $white;
		outline-offset: -15px;
		overflow: hidden;

		img {
			width: 100%;
			max-height: 317px;
			object-fit: cover;
		}

		.text {
			position: absolute;
			display: flex;
			justify-content: center;
			align-items: center;
			width: 100px;
			height: 100%;
			z-index: 100
		}

		.overlay {
			display: none;
			position: absolute;
			top: 0;
			left: 0;
			justify-content: center;
			align-items: center;
			width: 100%;
			height: 100%;
			font-size: 1.875rem;	// 30px
			font-weight: 700;
			color: $white;
			background: rgba(33, 111, 159, .5);
			transition: .3s;
		}

		@media (max-width: $max-xs) {
			max-height: 250px;
		}
	}

	.card-body {
		align-items: center;
	}

}

/* news */

.news {
	margin-bottom: 100px;
	.news-img {
		width: 100%;
	}	

	.card-text {
		color: $grey;
	}

	.more {
		font-weight: 600;
		color: $dark-grey;
	}
}