.holding-hearings {

    .links {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        .link-blue {
            margin-bottom: 20px;
        }
    }

    .table-responsive {
        .table {

            th {
                padding: 0 35px 20px;

                @media (max-width: $max-lg) {
                    padding: 20px;
                }
            }

            td {
                padding: 35px
            }

            tbody {
                tr {
                    td:first-child {
                        white-space: nowrap;
                    }

                    td:nth-child(3) {
                        min-width: 450px;
                    }
                }

            }
        }        
    }
}