.potochna-sesiya {
    .table-responsive {
        .table {

            th {
                padding: 0 35px 20px;

                @media (max-width: $max-lg) {
                    padding: 20px;
                }
            }

            td {
                padding: 35px
            }

            tbody {
                tr {
                    
                    td:first-child {
                        white-space: nowrap;
                    }

                    td:nth-child(3) {
                        min-width: 450px;
                    }
                }
            }
        }
    }
}