.search-box {
    .buttons {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        margin: 40px 0;

        @media (max-width: $max-xs) {
            justify-content: center;
        }

        .btn {
            min-width: 220px;
            margin-bottom: 20px;
            margin-right: 20px; 
        }
    }

    .link-blue {
        font-size: 1.125rem; // 18px 
        font-weight: 400;
        padding: 1.125rem 0;
        margin-bottom: 20px;

        @media (max-width: $max-xs) {
            width: 100%;
            text-align: center;
            margin-right: 0;
        }
    }
}