.search-box {

    .buttons {
        margin: 40px 0;

        .btn {
            min-width: 220px;
        }
    }

    .link-blue {
        font-size: 1.125rem; // 18px 
        font-weight: 400;
    }
}